$main-color: #0b0e1f;
$main-color-pink: #e00090;
$main-color-dark: #1d1c39;
$main-color-gray-light: #494e6a;
$main-color-blue: #4461d7;

$panel-background-color: #e1e6ee;
$panel-background-color-opened: #eaeef4;
